<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dummy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.cruds.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.cruds.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.cruds.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cruds.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.cruds.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginNextServlet</display-name>
    <servlet-name>LoginNextServlet</servlet-name>
    <servlet-class>com.cruds.servlet.LoginNextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginNextServlet</servlet-name>
    <url-pattern>/LoginNextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreetingServlet</display-name>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>com.cruds.servlet.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/GreetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.cruds.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.cruds.servlet.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.cruds.servlet.LifeCycleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.cruds.listener.MyContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.cruds.listener.DemoSessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.cruds.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet1</display-name>
    <servlet-name>ForwardServlet1</servlet-name>
    <servlet-class>com.cruds.servlet.ForwardServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet1</servlet-name>
    <url-pattern>/ForwardServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet2</display-name>
    <servlet-name>ForwardServlet2</servlet-name>
    <servlet-class>com.cruds.servlet.ForwardServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet2</servlet-name>
    <url-pattern>/ForwardServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesServlet</display-name>
    <servlet-name>CookiesServlet</servlet-name>
    <servlet-class>com.cruds.servlet.CookiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesServlet</servlet-name>
    <url-pattern>/CookiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookieServlet</display-name>
    <servlet-name>ReadCookieServlet</servlet-name>
    <servlet-class>com.cruds.servlet.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookieServlet</servlet-name>
    <url-pattern>/ReadCookieServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LogFilter</display-name>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.cruds.filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CartLoginServlet</display-name>
    <servlet-name>CartLoginServlet</servlet-name>
    <servlet-class>CartLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartLoginServlet</servlet-name>
    <url-pattern>/CartLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>